In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df_animals = pd.read_csv('animals.csv')

In [19]:
df_temp = df_animals[df_animals.age >= 10].head(3)

In [35]:
df_temp = df_animals[(df_animals['age'] <= 12) & (df_animals.weight > 200)]

In [36]:
df_temp.shape

(192, 3)

In [28]:
list_ages = [14, 11, 12]

In [29]:
df_temp = df_animals[df_animals.age.isin(list_ages)]

In [33]:
df_temp.shape

(139, 3)

In [39]:
df_temp = df_animals[df_animals.age  > df_animals.weight]

In [41]:
df_temp.head()

     weight animal  age
66       13    pig   14
255      13    pig   19
277      13  horse   19
462      10  horse   12
482      12  horse   13