In [1]:
import pandas as pd

In [2]:
#our columns for our dataframe (also columns can be thought of as series)
list_columns = ['weight', 'animal', 'age']

In [3]:
#our data for our dataframe
list_data = [
    [14, 'dog', 10],
    [4, 'cat', 15],
    [100, 'pig', 6],
    [400, 'horse', 3],
    [500, 'horse', 7],
]

In [4]:
#create a dataframe
df_animals = pd.DataFrame(columns=list_columns, data=list_data)

In [5]:
# look at the first two rows
df_animals.head(2)

   weight animal  age
0      14    dog   10
1       4    cat   15

In [6]:
# look at the last three rows
df_animals.tail(3)

   weight animal  age
2     100    pig    6
3     400  horse    3
4     500  horse    7

In [7]:
# print the columns
df_animals.columns

Index([u'weight', u'animal', u'age'], dtype='object')

In [8]:
# get the shape - the number of (rows,series)
df_animals.shape

(5, 3)

In [9]:
# get some calculated info for all numerical series
df_animals.describe()

           weight        age
count    5.000000   5.000000
mean   203.600000   8.200000
std    230.731012   4.549725
min      4.000000   3.000000
25%     14.000000   6.000000
50%    100.000000   7.000000
75%    400.000000  10.000000
max    500.000000  15.000000

In [10]:
# see the data types for each series
df_animals.dtypes

weight     int64
animal    object
age        int64
dtype: object

In [11]:
# list the unique values in a series
df_animals.animal.unique()

array(['dog', 'cat', 'pig', 'horse'], dtype=object)

In [25]:
for an in df_animals.animal.unique():
    print an

dog
cat
pig
horse