In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [33]:
df_animals = pd.read_csv('animals.csv')

In [34]:
df_animals = df_animals.rename(columns={'weight' : 'wght', 'age' : 'yrs'})

In [35]:
df_animals['new_col'] = df_animals['wght'] * df_animals['yrs']

In [40]:
df_animals.head(4)

   wght animal  yrs
1   294    pig   16
3   284    cat   12
4    76    dog    4
5   285    pig   16

In [37]:
df_animals.drop(['new_col'], axis=1, inplace=True)