In [11]:
import pandas as pd

In [12]:
# -- Make pandas show all columns, rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [13]:
list_columns = ['weight', 'animal', 'age']
list_data = [
    [14, 'dog', 10],
    [4, 'cat', 15],
    [100, 'pig', 6],
    [400, 'horse', 3]
    ]
ANIMAL_DATA = pd.DataFrame(columns=list_columns, data=list_data)
ANIMAL_DATA.head()

   weight animal  age
0      14    dog   10
1       4    cat   15
2     100    pig    6
3     400  horse    3

In [14]:
list_columns = ['animal', 'town']
list_data = [
        ['dog', 'London'],
        ['cat', 'Milan'],
        ['dog', 'Paris'],
        ['duck', 'Milano']
    ]
ANIMAL_TOWNS = pd.DataFrame(columns=list_columns, data=list_data)
ANIMAL_TOWNS.head()

  animal    town
0    dog  London
1    cat   Milan
2    dog   Paris
3   duck  Milano

In [32]:
merged_df = pd.merge(left=ANIMAL_DATA, right=ANIMAL_TOWNS,
                    how='left', on=['animal'])

In [34]:
merged_df.town.fillna('Not Found', inplace=True)

In [35]:
merged_df

   weight animal  age       town
0      14    dog   10     London
1      14    dog   10      Paris
2       4    cat   15      Milan
3     100    pig    6  Not Found
4     400  horse    3  Not Found